*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #c990903d;
}

html {
  scroll-behavior: smooth;
}

#sobre-mi{
  scroll-margin-top: 70px;
} 

#servicios{
  scroll-margin-top: 70px;
}

#precios{
  scroll-margin-top: 70px;
} 

#clases{
  scroll-margin-top: 70px;
} 

#contactos{
  scroll-margin-top: 70px;
} 


/*---------NAV-BAR---------*/
nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 1;
}

nav{
  height: fit-content;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  position: relative;
  font-family: 'Sirin Stencil', sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  background-color: rgba(201, 142, 98, 0.63);
}

nav a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  transform: scale(0);
}

nav a:hover::after{
  transform: scale(1); 
}

nav a:hover{
  background-color: rgb(192, 126, 126);
  transition: 0.5s ease-in-out;
}

header {
  display: grid;
  background-image: url(Imagenes/foto1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 2,5;
  height: 100vh;
  width: 100vw;
  padding-top: 6rem;
}

header h2 {
  font-family: 'Sirin Stencil', sans-serif;
  font-size: 4vw;   
  color: #662f1f;   
}

header h1 {
  font-size: 8vw;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-decoration: underline overline;
}

header p {
  font-size: 5vw;
  color: #662f1f;   
}

header a{
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.reserva a{
  border:1px solid #fff;
  text-align: center;
}

.reserva a:hover{
  background-color: rgb(177, 125, 125);
  transition: .5s ease-in-out;
}


/*---------sidebar---------*/

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar li{
  display: flex;
  width: 100%;
}

.sidebar a{
  width: 100%;
  margin: 5px;
}

.menu_button{
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile, ul{
    display: none;
  }
  .menu_button{
    display: block;
  }
}

@media (max-width:400px) {
  .sidebar{
    width: 100%;
  }
}

/*---------SOBRE MI---------*/
.about {
  display: flex;
  border: 2px solid rgb(206, 125, 188);
  border-radius: 10px;
  padding-block: 1rem;
  margin-block: 1rem;
  background-color: #fff;
  margin-inline: 1rem;
}

.about img {
  padding-left: .5rem;
  border-radius: 10px;
  max-width: 320px;
  float: left;
}

.profile-picture{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .about{
    display: block;
  }

  .about img{
    width: 100%;
    margin: auto; 
  }

  .about h3{
    text-align: center;
  }
}

.text2{
  margin: 1rem;
}

.text2 h3{
  align-items: center;
  font-size: 2rem;
  color: #000;
  font-family: 'Sirin Stencil', sans-serif;
  text-decoration: underline;
}

.text2 p{
  text-align: start;
  font-size: larger;
  text-wrap: wrap;
  font-family: 'Playfair Display', serif;
}

/*---------FOTO2---------*/
.foto2{
  display: grid;
  grid-template-rows: auto;
  margin: auto;
}

.foto2 {
  background-image: url(Imagenes/servicios.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 2,5;
  border-radius: 10px;
  max-height: fit-content;
  margin-inline: 1rem;
}

.foto2 h2 {
  font-family: 'Sirin Stencil', sans-serif;
  font-size: 7rem;
  font-weight: 900;
  color: #fff;
}

.foto2-titulo 
.lista-de-servicios{
  container-type: inline-size;
}

.foto2-titulo > h2 {
  font-size: 7cqi;
}

.lista-de-servicios > p, h3 {
  font-size: 5cqi;
}

.foto2 p {
  font-family: 'Playfair Display', serif;   
  color: #000;
  border: solid black;
  border-radius: 10px;
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(1rem);
  width: fit-content;
  margin: auto;
}

.foto2 h3 {
  justify-content: space-around;
  margin-block: 2rem;
  color: #662f1f;   
}

/*----------SERVICIOS----------*/
.novias-y-quinceañeras {
  text-align: center;
  border: solid 1px black;
  background-color: rgb(177, 125, 125);
  margin-block: 1.5rem;
  padding-block: .5rem;
  color: #fff;
  font-size: 2rem;
  font-family: 'Sirin Stencil', sans-serif;
  margin-inline: 1rem;
}

/*---------SERVICIOS-GRID---------*/
.box {
  padding-bottom: 1.5rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  grid-template-columns: 
    repeat(auto-fit, 
      minmax(min(22rem, 100%), 1fr));
}

.wrap {
  margin-inline: 1rem;
  padding: .5rem;
  border-radius: 10px;
  border: 2px solid rgb(206, 125, 188);
  background-color: #fff;
  box-shadow: .4em .4em .4em rgba(218, 138, 221, 0.7);
  min-height: 350px;
  min-width: 300px;
}

.wrap h3 {
  font-family: 'Sirin Stencil', sans-serif; 
  color: #000;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline ;
  padding-bottom: 1rem;  
}

.wrap p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  line-height: 1.5em;
  font-size: large;
}

pre{
  font-family: 'Playfair Display', serif;
  text-align: left;
  min-height: 250px;
  min-width: 300px;
}

strong{
  font-size: 1rem;
  text-decoration: underline;
}

/*---------CLASES----------*/

.box-clases{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.fotos{
 display: grid;
 grid-template-columns: 1fr 1fr;
 place-items: center;
 max-width: 100%;
}

.box-clases img{
  padding: 1rem;
  max-width: 100%;
}

@media (max-width: 768px) {
  .box-clases{
    display: block; 
  }
  .box-clases img{
    width: 100%;
  }
}

.titulo-clases {
  text-align: center;
  padding-block: .5rem;
  font-size: 3rem;
  background-color: rgb(177, 125, 125);
  color: #ffffff;
  border: 1px solid black;
  font-family: 'Sirin Stencil', sans-serif;
  margin-inline: 1rem;
}

/*---------CONTACTOS  Y REDES SOCIALES--------- */
.titulo-footer h3 {
  border: 1px solid black;
  text-align: center;
  color: #fff;
  font-size: 3em;
  margin: .5rem;  
  font-family: 'Sirin Stencil', sans-serif;
  background-color: rgb(177, 125, 125);
}

.contact-links{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

@media (min-width:800px) {
  .contact-links{
    display: grid;
    grid-column: span 2;
  }
}

.contact-links .button{
  height: 60px;
  width: 60px;
  float: left;
  cursor: pointer;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

.contact-links .button:hover {
  width: 200px;
}

.contact-links .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.button:nth-child(1) .icon:hover {
  background: rgb(49, 211, 240);
}

.button:nth-child(2) .icon:hover{
  background: rgb(87, 240, 87);
}

.button:nth-child(3) .icon:hover{
  background: #4267B2;
}

.button:nth-child(4) .icon:hover{
  background: #222021;
}

.button:nth-child(5) .icon:hover{
  background: #e4a13d;
}

.button .icon a {
  margin: 1.1rem;
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.button:hover .icon a:hover {
  color: #fff;
}

.contact-links .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.contact-links .button:nth-child(1) span{
  color: rgb(49, 211, 240);
}

.contact-links .button:nth-child(2) span{
  color: rgb(87, 240, 87);
}

.contact-links .button:nth-child(3) span{
  color: #4267B2;
}

.contact-links .button:nth-child(4) span{
  color: #141112;
}

.contact-links .button:nth-child(5) span{
  color: #e4a13d;
}















