*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

/*NAV-BAR*/
.menu{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

@media (max-width: 768px) {
  .menu{
    display: block;
  }
}

.menu a {
  position: relative;
  font-family: 'Sirin Stencil', sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.menu a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  transform: scale(0);
}

.menu a:hover::after{
  transform: scale(1); 
}

.menu a:hover{
  background-color: rgb(192, 126, 126);
  transition: 0.5s ease-in-out;
}

.foto1 {
  display: grid;
  background-image: url(Imagenes/foto1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 2,5;
  height: 100vh;
  width: 100vw;
}

.foto1 h2 {
  font-family: 'Sirin Stencil', sans-serif;
  font-size: 4vw;   
  color: #d374bb;
}

.foto1 h1 {
  font-size: 8vw;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  text-decoration: underline overline;
}

.foto1 p {
  font-size: 5vw;
  color: #d374bb;
}

.agenda a{
  align-items: end;
  border: 3px solid white;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.agenda a:hover{
  background-color: rgb(177, 125, 125);
  transition: .5s ease-in-out;
}

/*SOBRE MI*/
.about {
  display: grid;
  grid-template-columns: 1fr auto;
  border: 1px solid black;
  padding-block: 1rem;
  margin-block: 1rem;
  background-color: rgb(177, 125, 125);
}

.about img {
  border-radius: 10px;
  max-width: 320px;
  float: left;
  margin: auto;
}

@media (max-width: 768px) {
  .about{
    display: block;
  }

  .about img{
    width: 100%;
    align-content: center;
    padding-inline: 0.5rem;
  }
  
}

.text2{
  margin: 1rem;
}

.text2 h3{
  align-items: center;
  font-size: 2rem;
  color: #ddd;
  font-family: 'Sirin Stencil', sans-serif;
  text-decoration: underline;
}

.text2 p{
  text-align: start;
  font-size: larger;
  text-wrap: wrap;
  font-family: 'Playfair Display', serif;
}

/*FOTO 2*/
.foto2 {
  background-image: url(Imagenes/servicios.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 2,5;
  border: solid 1px black;
  border-radius: 10px;
  min-height: 1000px;
  min-width: fit-content;
  margin-top: 1.5rem;
}

.foto2 h2 {
  font-family: 'Sirin Stencil', sans-serif;
  font-size: 7rem;
  font-weight: 900;
  margin-top: 2rem;
  color: #fff;
}

.foto2 p {
  font-family: 'Playfair Display', serif;   
  font-size: 5rem;
  color: #000;
  border: solid black;
  border-radius: 10px;
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(1rem);
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-inline: 4rem;
}

.foto2 h3 {
  font-size: 5rem;
  justify-content: space-around;
  margin-top: 4rem;
  color: #6845c9;   
}

/*SERVICIOS*/
.servicios {
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgb(177, 125, 125);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-block: 1rem;
}

.servicios h2 {
  word-spacing: 2rem;
  font-size: 3rem;
  font-family: 'Sirin Stencil', sans-serif;
  color: #fff;
}

/* SERVICIOS-GRID*/
.box {
  padding-bottom: 1.5rem;
  display: grid;
  place-items: center;
  gap: 1rem;
  grid-template-columns: 
    repeat(auto-fit, 
      minmax(min(22rem, 100%), 1fr));
}

.wrap {
  padding: 1rem;
  border-radius: 10px;
  border: solid 1px black;
  background-color: rgb(220, 164, 164, 100%);
  min-height: 350px;
  min-width: 300px;
}

.wrap h3 {
  font-family: 'Sirin Stencil', sans-serif; 
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline ;
  padding-bottom: 1rem;  
}

.wrap p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  line-height: 2em;
}

pre{
  font-family: 'Playfair Display', serif;
  text-align: left;
  min-height: 250px;
  min-width: 300px;
}

/*CLASES*/

.box-clases{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.fotos{
 display: grid;
 grid-template-columns: 1fr 1fr;
 place-items: center;
 max-width: 100%;
}

.box-clases img{
  padding: 1rem;
  max-width: 100%;
}

@media (max-width: 768px) {
  .box-clases{
    display: block; 
  }
  .box-clases img{
    width: 100%;
  }
}

.titulo-clases {
  text-align: center;
  padding-block: 1rem;
  font-size: clamp(3rem, 100%, 1rem);
  background-color: rgb(177, 125, 125);
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid black;
}

/*CONTACTOS  Y REDES SOCIALES */
.contactos{
  text-align: center;
  color: #6845c9;
}

.iconos-de-contatos {
  border: solid 1px #000000;
  background-color: rgb(220, 164, 164, 100%);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
}

.iconos-de-contatos h3{
  display: grid;
  grid-column: span 8;
}



  















