*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: #c990903d;
}

html {
  scroll-behavior: smooth;
}

:root {
  --title-font: 'Sirin Stencil', sans-serif;
  --text-font:  'Playfair Display', serif;
}

#About-Me{
  scroll-margin-top: 70px;
} 

#Services{
  scroll-margin-top: 70px;
}

#Prices{
  scroll-margin-top: 70px;
} 

#Classes{
  scroll-margin-top: 70px;
} 

#Contacts{
  scroll-margin-top: 70px;
} 

.Section-Title {
  font-family: var(--title-font);
  border: 3px solid white;
  text-align: center;
  color: #fff;
  margin-block: 1.5rem;
  padding-block: .5rem; 
  font-size: 3rem; 
  background-color: rgb(177, 125, 125);
}

/*---------NAV-BAR---------*/

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 1;
}

nav{
  height: fit-content;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  position: relative;
  font-family: var(--title-font);
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  background-color: rgba(201, 142, 98, 0.63);
}

nav a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  transform: scale(0);
}

nav a:hover::after{
  transform: scale(1); 
}

nav a:hover{
  background-color: rgb(192, 126, 126);
  transition: 0.5s ease-in-out;
}

header {
  display: grid;
  background-image: url(Imagenes/foto1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 2,5;
  height: 100vh;
  width: 100dvw;
  padding-top: 4rem;
  margin-bottom: 1.7rem;
}

header h2 {
  font-family: var(--title-font);
  font-size: 4vw;   
  color: #662f1f;   
}

header h1 {
  font-size: 8vw;
  font-weight: 900;
  font-family: var(--text-font);
  text-decoration: underline overline;
}

header p {
  font-size: 5vw;
  color: #662f1f;   
}

header a{
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.reservation a{
  border:1px solid #fff;
  width: 10em;
  margin: auto;
  text-align: center;
}

.reservation a:hover{
  background-color: rgb(177, 125, 125);
  transition: .5s ease-in-out;
}


/*---------sidebar---------*/

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar li{
  display: flex;
  width: 100%;
}

.sidebar a{
  width: 100%;
  margin: 5px;
}

.menuButton{
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile, nav ul{
    display: none;
  }
  .menuButton{
    display: block;
  }

  .sidebar.active{ 
    display: block; 
 } 
}

@media (max-width:400px) {
  .sidebar{
    width: 100%;
  }
}

/*---------SOBRE MI---------*/
.about {
  display: flex;
  border: 2px solid rgb(206, 125, 188);
  border-radius: 10px;
  padding-block: .5rem;
  background-color: #fff;
  margin-inline: 1rem;
  margin-top: 1rem;
}

.about img {
  padding-left: .5rem;
  border-radius: 10px;
  max-width: 320px;
  float: left;
}

.profile-picture{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .about{
    display: block;
  }

  .about img{
    width: 100%;
    margin: auto; 
  }

  .about h3{
    text-align: center;
  }
}

.text2{
  margin: 1rem;
}

.text2 h3{
  align-items: center;
  font-size: 2rem;
  color: #000;
  font-family: var(--title-font);
  text-decoration: underline;
}

.text2 p{
  text-align: start;
  font-size: larger;
  text-wrap: wrap;
  font-family: var(--text-font);
}

/*---------FOTO2---------*/

.photo2 {
  background-image: url(Imagenes/servicios.png);
  display: grid;
  grid-template-rows: auto;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 2,5;
  border-radius: 10px;
  max-height: fit-content;
  margin-inline: 1rem;
}

.photo2-title 
.price-list{
  container-type: inline-size;
}

.photo2-title > h2 {
  font-size: 7cqi;
}

.price-list > p, h3 {
  font-size: 5cqi;
}

.photo2 p {
  font-family: var(--text-font);   
  color: #000;
  border: solid black;
  border-radius: 10px;
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(1rem);
  width: fit-content;
  margin: 1rem auto;
  place-items: center;
}

.photo2 h3 {
  justify-content: space-around;
  margin-block: 2rem;
  color: #662f1f;   
}

/*----------SERVICIOS----------*/

.Prices-box {
  display: grid;
  place-items: center;
  gap: 1rem;
  margin-inline: 1rem;
  grid-template-columns: 
    repeat(auto-fit, 
      minmax(min(22rem, 100%), 1fr));
}

.wrap {
  padding: .5rem;
  border-radius: 10px;
  border: 2px solid rgba(163, 73, 119, 0.8);
  box-shadow: .3em .3em .3em rgba(163, 73, 119, 0.8);
  background-color: #fff;
  min-height: 350px;
  min-width: 300px;
}

.wrap h3 {
  font-family: var(--title-font); 
  color: #000;
  font-size: 2rem;
  text-align: center;
  text-decoration: underline ;
  padding-bottom: 1rem;  
}

.wrap p {
  font-family: var(--text-font);
  text-align: center;
  line-height: 1.5em;
  font-size: large;
}

pre{
  font-family: var(--text-font);
  text-align: left;
  min-height: 250px;
  min-width: 440px;
  font-size: large ;
  
}

strong{
  font-size: 1rem;
  text-decoration: underline;
}

/*---------CLASES----------*/

.clases-box {
  display: flex;
  justify-content: space-between;
  place-content: center;
  gap: 1rem;
  margin: 1rem;
}

@media (max-width: 800px) {
  .clases-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 1rem;
  }
}

.tarjetas  {
  background-color: #fff;
  border: 2px solid rgba(163, 73, 119, 0.8);
  box-shadow: .3em .3em .3em rgba(163, 73, 119, 0.8);
  border-radius: 10px;
  max-width: 450px; 
  padding: 1.5rem;
}

.clases-box h2 {
  text-align: center;
  font-family: var(--title-font); 
  font-size: 2rem;
}

.clases-box h3 {
  text-align: center;
  color: rgb(198, 113, 201);
  text-decoration: underline;
  font-size: 1.5rem;
  padding-block: .5rem; 
}

.tarjetas h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  font-size: large;
}

.clases-box ul li {
  font-size: larger;
  padding: 3px;
  margin-left: .5rem;
}

.imagenes-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(173, 107, 107);
  padding: 1rem;
  margin: 1rem;
}

.imagenes {
  display: flex;
  justify-content: center;
  gap: .5rem;
  width: 600px;
  height: 600px;
}

.imagenes img {
  border-radius: 50px;
  border: 2px solid rgba(163, 73, 119, 0.8);
  box-shadow: .3em .3em .3em rgba(163, 73, 119, 0.8);
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.imagenes img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/*---------CONTACTOS  Y REDES SOCIALES--------- */

.contact-links {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media (max-width: 700px ) {
  .contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
  }
}

a {
  display: block;
  font-size: 2rem;
  cursor: pointer;
}

.icon {
  padding: 1rem;
  width: 250px;
  height: 100px;
  text-align: center;
}

.icon a{
  box-sizing: border-box;
  position: relative;
  padding: 0.5em;
  &::before,
  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    border-radius: 10px;
  }

  &::before {
    border-top: 0.1em solid rgba(210, 124, 190, 1) ;
    border-bottom: 0.1em solid rgba(210, 124, 190, 1);
    background-color: rgba(218, 199, 223, 0.8);
    z-index: -1;
    transform: scale3d(0,1,1);
  }

  &::after {
    border-left: 0.1em solid rgba(210, 124, 190, 1);
    border-right: 0.1em solid rgba(210, 124, 190, 1);
    transform: scale3d(1,0,1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1);
    transition: transform 800ms;
  }
}

span {
  text-decoration: underline;
  text-align: center;
  display: none;
  font-size: larger;
}

.fa-envelope {
  color: rgb(4, 36, 105);
}

.fa-whatsapp {
  color: rgb(0, 255, 106);
}

.fa-facebook {
  color: rgb(58, 101, 219);
}

.fa-tiktok {
  color: rgb(19, 20, 20);
}

.fa-instagram {
  color: rgb(238, 160, 44);
}

















